@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CoolDeli</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link href="~/assets/css/style-starter.css" rel="stylesheet" />
    <link href="~/css/products.css" rel="stylesheet" />
    <link href="~/css/cart.css" rel="stylesheet" />

</head>
<body>
    <div id="dimmer"></div>

    <!--HEADER-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke px-0">
                <h1>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-cutlery" aria-hidden="true"></i> CoolDeli
                    </a>
                </h1>
                <!-- if logo is image enable this-->
                @*<a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a>*@

                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>

                        <!--  USER LOGIN PARTIAL VIEW  -->
                        <partial name="_LoginPartial" />
                    </ul>
                </div>

                <!-- SEARCH BUTTON -->
                <div class="search-right">
                    <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <h4 class="search-pop-text-w3 text-white text-center mb-4">
                                Search Here Your Favourite Food
                            </h4>
                            <form asp-controller="Products" asp-action="Index" method="GET" class="search-box" name="search">
                                <div class="input-search">
                                    <span class="fa fa-search mr-2"
                                          aria-hidden="true"></span><input type="search" placeholder="Enter Keyword"
                                                                           name="search" required="required" autofocus="">
                                </div>
                                <button type="submit" class="btn button-style">Search</button>
                            </form>

                            <div class="form-inline">
                                <a class="pl-2 pr-2 search-divider" onclick="document.forms['search'].submit();"><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                        <a class="close" href="#close">×</a>
                    </div>
                </div>
                <!-- END SEARCH BUTTON -->
                <!--  CART  -->
                <div class="cont-ser-position" id="cart-container">
                    <div class="navigation">
                        <div class="form-inline pl-1 pr-0 mr-sm-2 cart-zindex" id="cart-container">
                            <a id="cart-open">
                                <span id="cart-link"><i class="fas fa-cart-arrow-down pl-2"></i><span class="badge m-0 pl-1 pr-0" id="cart-item-count"></span></span>
                            </a>

                            <partial name="_CartDropPreviewPartial" />

                        </div>
                    </div>
                </div>
                <!-- END CART  -->
                <!-- TOOGGLE SWITCH FOR LIGHT AND DARK THEME -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- END TOOGGLE SWITCH FOR LIGHT AND DARK THEME -->


            </nav>

        </div>
    </header>


    @if (!User.Identity.IsAuthenticated)
    {
        <partial name="_LoginPromptModalPartial" />
    }

    @RenderBody()


    <!-- FOOTER -->
    <section class="w3l-footer-16">
        <div class="w3l-footer-16-main">
            <div class="container">
                <div class="row footer-p">
                    <div class="col-lg-4 pr-lg-5">
                        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-cutlery" aria-hidden="true"></i> CoolDeli</a>
                        <p class="mt-4">
                            Duis imperdiet sapien tortor, vitae congue diam auctor vitae. Aliquam
                            eget turpis ornare, euismod ligul aeget, enenatis dui.
                        </p>
                    </div>
                    <div class="col-lg-4 mt-lg-0 mt-4">
                        <h3>Pages</h3>
                        <div class="row">
                            <div class="col-6 column">
                                <ul class="footer-gd-16">
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Index">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>Home
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="About">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>About
                                            Us
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Services">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>Services
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="BlogPosts">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Blog
                                            Posts
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Contact">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>Contact Us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6 column pl-0">
                                <ul class="footer-gd-16">
                                    <li>
                                        <a asp-area="" asp-controller="Products" asp-action="Index">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>CoolDeli
                                            Menu
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Privacy
                                            Policy
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="TermsAndConditions">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Terms and
                                            conditions
                                        </a>
                                    </li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Faq">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>FAQ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7 column mt-lg-0 mt-4">
                        <h3>Newsletter </h3>
                        <div class="end-column">
                            <h3>Subscribe Here Now</h3>
                            <form action="#" class="subscribe" method="post">
                                <input type="email" name="email" placeholder="Email Address" required="">
                                <button><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                            </form>
                            <p>Subscribe to our mailing list and get updates to your email inbox.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                    <div class="columns text-lg-left">
                        <p class="copy-text">
                            2020 CoolDeli. All rights reserved. Design by
                            <a href="https://github.com/mcmdothub" target="_blank">
                                mcmdothub //
                            </a>
                            <a href="https://github.com/Bragde" target="_blank">
                                Bragde //
                            </a>
                            <a href="https://github.com/eriklindell-84" target="_blank">
                                eriklindell-84
                            </a>
                        </p>
                    </div>
                    <div class="columns-2 mt-md-0 mt-3">
                        <ul class="social">
                            <li>
                                <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://github.com/mcmdothub/CoolDeli.Shop---Microservices"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->
    <!-- JS SCRIPTS -->
    <!--  EXTRA SCRIPTS  -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a59e8a19b5.js" crossorigin="anonymous"></script>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>

    <script src="~/js/order.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <!-- common jquery plugin -->
    @*<script src="~/assets/js/jquery-3.3.1.min.js"></script>*@
    <!-- //common jquery plugin -->
    <!-- theme switch js (light and dark)-->
    <script src="~/assets/js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the
            // class of outer div
            // The second paramter is the speed between each letter is typed.
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->
    <!-- magnific popup -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!--bootstrap-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->



    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
