@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- inner banner -->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">Privacy</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Privacy Policy</li>
            </ul>
        </div>
    </section>
</div>
<!-- //inner banner -->

<p>Use this page to detail your site's privacy policy.</p>

<div class="p-3 mb-2 bg-light text-dark">
    <h1>Cookie Policies</h1>

    <p>We are using cookies in our website</p>
    <h4>What are cookies?</h4>

    <p>
        Cookies are small pieces of text used to store information on web browsers.
        Cookies are used to store and receive identifiers and other information on computers
    </p>
    <div>
        <h4>Why do we use cookies?</h4>
        <div>
            <b>Authentication</b>
            <br />
            We use cookies to verify your account and determine when you’re logged in so we can make it easier for you to
            access our Products and show you the appropriate experience and features.
            For example: We use cookies to keep you logged in as you navigate between our pages.
            Cookies also help us remember your browser so you do not have to keep logging into our site.
        </div>

        <b>Security</b>
        <br />
        <div>
            We use cookies to help us keep your account, data and our Products safe and secure.
        </div>

        <b>Site feature</b>
        <br />
        <div>
            We use cookies to provide you with the best experience possible.
        </div>
    </div>
    <br />

    <h3>What details we'r storing</h3>
    <p>Name<br />Address<br />Phone Number<br />Email</p>

</div>
